.footer {
  padding: 35px 0;
  color: $white;
  background-color: $footer-bg;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include max-width(768px) {
    padding: 20px 0;
  }
}
