.footer {
  padding: 35px 0;
  height: 88px;
  color: $white;
  background-color: $footer-bg;

  @include max-width(768px) {
    padding: 20px 0;
    height: 55px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
