.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 33;
  padding: 19px 0 17px;
  width: 100%;
  height: $header-height;
  background-color: $white;

  @include max-width(768px) {
    $header-height: 57px;

    height: $header-height;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__main-menu {
    margin-left: auto;
  }

  &__button {
    margin-left: 35px;

    @include max-width(800px) {
      margin-left: 15px;
    }

    @include max-width(768px) {
      margin-left: 0;
    }
  }

  &__burger-btn {
    display: none;

    @include max-width(768px) {
      display: block;
    }
  }

  &--active {
    background-color: transparent;

    .header__logo {
      display: none;
    }
    // .mobile-menu {
    // transform: translateY(0);
    // }
  }
}
