.button {
  border: 2px solid transparent;
  border-radius: 3px;
  font-weight: 600;
  line-height: 24.54px;
  transition: color $fast ease, background-color $fast ease;

  &--main {
    border-color: $button--main;
    padding: 5px 35px;
    color: $button--main;

    &:hover {
      color: $white;
      background-color: $button--main;
    }
  }

  &--secondary {
    border-color: $button--secondary;
    padding: 7px 30px;
    color: $button--secondary;

    &:hover {
      color: $white;
      background-color: $button--secondary;
    }
  }

  &--circle {
    position: relative;
    border-radius: 50%;
    padding: 0;
    width: 33px;
    height: 33px;

    &::before {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
