.headline {
  margin-bottom: 48px;

  &__title {
    margin-bottom: 24px;

    @include max-width(768px) {
      margin-bottom: 12px;
      font-size: 24px;
      line-height: 23px;
    }
  }

  &__paragraph {
    margin-bottom: 48px;
    width: 100%;
    max-width: 670px;

    @include max-width(768px) {
      margin-bottom: 32px;
      font-size: 13px;
      line-height: 20px;
    }
  }

  @include max-width(920px) {
    margin-bottom: 32px;
  }
}
