.icon {
  &::before {
    font-display: swap;
  }

  &--medium {
    &::before {
      font-size: 80px;
      line-height: 80px;

      @include max-width(620px) {
        font-size: 55px;
        line-height: 55px;
      }
    }
  }
}
