.pagination {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;

  &--bullet {
    .pagination__bullet {
      // width: 6px; // on the psd layout
      // height: 6px; // on the psd layout
      border: 1px solid $pagination-bullet;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      transition: border $fast linear, background $fast linear;

      &:not(:last-child) {
        margin-right: 4px;
      }
    }

    .pagination__bullet--active {
      border-color: $pagination-bullet--active;
      background-color: $pagination-bullet--active;
    }
  }

  &__current {
    margin-right: 5px;
  }

  &__total {
    margin-left: 5px;
  }

  &--fraction {}
}
