.services-list {
  .services-list__item + .services-list__item {
    margin-top: 8px;
  }

  &__link {
    color: $black;

    @include max-width(768px) {
      font-size: 13px;
      line-height: 20px;
    }
  }
}
