.services-item {
  height: auto;

  &__images {
    img {
      // height: 421px;
      height: 28vw;
      min-height: 285px;
      object-fit: cover;
    }
  }

  &__content {
    padding: 40px 20px;

    @include max-width(1024px) {
      padding: 24px 16px 32px;
    }

    @include max-width(768px) {
      padding: 24px 16px;
    }
  }

  &__title {
    margin-bottom: 24px;

    @include max-width(1024px) {
      font-size: 22px;
    }

    @include max-width(768px) {
      margin-bottom: 16px;
      font-size: 18px;
      line-height: 17px;
    }
  }
}
