@font-face {
	font-family: "icon";
	src: url('../fonts/icon.eot');
	src: url('../fonts/icon.eot?#iefix') format('eot'),
		url('../fonts/icon.woff2') format('woff2'),
		url('../fonts/icon.woff') format('woff'),
		url('../fonts/icon.ttf') format('truetype'),
		url('../fonts/icon.svg#icon') format('svg');
}

.icon:before {
	font-family: "icon";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-arrow:before {
	content: "\E001";
}

.icon-coffee:before {
	content: "\E002";
}

.icon-door:before {
	content: "\E003";
}

.icon-images:before {
	content: "\E004";
}

.icon-star:before {
	content: "\E005";
}

.icon-two-boys:before {
	content: "\E006";
}

.icon-two-smiles:before {
	content: "\E007";
}

.icon-users:before {
	content: "\E008";
}

.icon-waist:before {
	content: "\E009";
}
