.coaches-list {
  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__key {
    margin-right: 8px;
    opacity: 0.5;
  }

  &__value {
  }

  @include max-width(375px) {
    font-size: 13px;
    line-height: 20px;
  }
}
